<div class="div-principal">
  <div class="div-img d-flex justify-content-center">
    <img src="assets/imagens/principal.png">
  </div>
  <figcaption>Code<strong>Finance</strong></figcaption>
  <div>
    <nav class="nav-bar">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#"> <img src="assets/imagens/alinhar.png">
            Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/controle-projetos']" routerLinkActive="nav-active" > 
            <img src="assets/imagens/projeto.png"> 
            Controle de Projetos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> <img src="assets/imagens/metas.png">Metas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> <img src="assets/imagens/controle.png"> Controle de
            Gastos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> <img src="assets/imagens/proventos.png">
            Proventos</a>
        </li>
      </ul>
    </nav>
  </div>
</div>